@import url("detail.css") all and
(orientation:portrait);
@import url("detail.css") all and
(orientation:landscape);

html, body {
	font: 14px/15px sans-serif;
	background: #fff;
	padding: .1875em;
	color: #000;
	margin: 0;
}
	
* {
	float: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p.collapse {
	background: #617F8A; 
	color: #000;
	padding: 5px 10px;
	margin: 1px;
}

div.answer {
	padding: 2px 10px;
}